# Project-specific files
ThirdParties/CorgiEngine/*
ThirdParties/Feel/*
Plugins/GitHub/*
Plugins/Sirenix/*
Plugins/TextMesh Pro/*
TextMesh Pro/*

Sprites/Logos/Splash_Rise_of_a_hero.psd
Sprites/Logos/Splash_Rise_of_a_hero.psd.meta

MMData.meta
MMData/*